<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.name }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <link rel="stylesheet" href="/../css/styles.css">
    </head>

    <body>
        <header class="nav-bar">
            <div class="wrapper-header-left">
                <h2><a href="http://localhost:4000/">{{ site.name }}</a></h2>
            </div>
            <div class="wrapper-header-right">
                <ul class="nav-bar-styles">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </header>

        <div class="post-area">
            <p class="post-title-text">{{ page.title }}</p>
            {{ page.date | date_to_string }}
            {{ content }}
        </div>

    </body>

</html>