<!DOCTYPE html>
<html>
    <head>
        <title>The Traveling Programmer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <header class="nav-bar">
            <div class="wrapper-header-left">
                <h2><a href="#">The Traveling Programmer</a></h2>
            </div>
            <div class="wrapper-header-right">
                <ul class="nav-bar-styles">
                    <li><a href="../../../index.html">Home</a></li>
                    <!--<li><a href="#">About</a></li>-->
                </ul>
            </div>
        </header>
        <div class="about-the-blog">
                <p>My name is Helene. Welcome to my corner in the internet where I share my life. I dont know how you found me, but I'm glad you did. I post about traveling and programminig and life in general so, stick around for a new adventure I plan on taking in my life. You never know what might happen next.</p>
        </div>
        <div class="posts post-area">
            <ul>
                
                  <li>
                    <li class="post-title-text"><a href="/2018/07/09/my-test-page.html">My Test Page</a></li>
                    <li>09 Jul 2018</li>
                    <img src="/images/golden.jpg"/>
                    <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus tortor eu dolor sollicitudin, venenatis consectetur turpis interdum. Duis placerat magna sed metus semper, non varius ante dignissim. Nulla eget tortor mauris. Nulla blandit purus id metus blandit commodo. Integer urna enim, tristique vel euismod eleifend, posuere vel eros. Curabitur tempor pulvinar orci, a efficitur nisl tristique eget. Pellentesque sed porttitor ipsum. Maecenas consectetur neque ligula, vel dapibus turpis cursus id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae nisl ut purus dignissim bibendum gravida a lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut massa massa, aliquet sit amet vehicula non, congue sit amet velit.</p>

</li>
                  </li><hr>
                
                  <li>
                    <li class="post-title-text"><a href="/2018/07/09/my-test-page-copy.html">My Test Page</a></li>
                    <li>09 Jul 2018</li>
                    <img src="/images/golden.jpg"/>
                    <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus tortor eu dolor sollicitudin, venenatis consectetur turpis interdum. Duis placerat magna sed metus semper, non varius ante dignissim. Nulla eget tortor mauris. Nulla blandit purus id metus blandit commodo. Integer urna enim, tristique vel euismod eleifend, posuere vel eros. Curabitur tempor pulvinar orci, a efficitur nisl tristique eget. Pellentesque sed porttitor ipsum. Maecenas consectetur neque ligula, vel dapibus turpis cursus id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae nisl ut purus dignissim bibendum gravida a lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut massa massa, aliquet sit amet vehicula non, congue sit amet velit.</p>

</li>
                  </li><hr>
                
                  <li>
                    <li class="post-title-text"><a href="/2018/07/09/my-test-page-copy-5.html">My Test Page</a></li>
                    <li>09 Jul 2018</li>
                    <img src="/images/golden.jpg"/>
                    <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus tortor eu dolor sollicitudin, venenatis consectetur turpis interdum. Duis placerat magna sed metus semper, non varius ante dignissim. Nulla eget tortor mauris. Nulla blandit purus id metus blandit commodo. Integer urna enim, tristique vel euismod eleifend, posuere vel eros. Curabitur tempor pulvinar orci, a efficitur nisl tristique eget. Pellentesque sed porttitor ipsum. Maecenas consectetur neque ligula, vel dapibus turpis cursus id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae nisl ut purus dignissim bibendum gravida a lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut massa massa, aliquet sit amet vehicula non, congue sit amet velit.</p>

</li>
                  </li><hr>
                
                  <li>
                    <li class="post-title-text"><a href="/2018/07/09/my-test-page-copy-4.html">My Test Page</a></li>
                    <li>09 Jul 2018</li>
                    <img src="/images/golden.jpg"/>
                    <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus tortor eu dolor sollicitudin, venenatis consectetur turpis interdum. Duis placerat magna sed metus semper, non varius ante dignissim. Nulla eget tortor mauris. Nulla blandit purus id metus blandit commodo. Integer urna enim, tristique vel euismod eleifend, posuere vel eros. Curabitur tempor pulvinar orci, a efficitur nisl tristique eget. Pellentesque sed porttitor ipsum. Maecenas consectetur neque ligula, vel dapibus turpis cursus id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae nisl ut purus dignissim bibendum gravida a lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut massa massa, aliquet sit amet vehicula non, congue sit amet velit.</p>

</li>
                  </li><hr>
                
                  <li>
                    <li class="post-title-text"><a href="/2018/07/09/my-test-page-copy-3.html">My Test Page</a></li>
                    <li>09 Jul 2018</li>
                    <img src="/images/golden.jpg"/>
                    <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus tortor eu dolor sollicitudin, venenatis consectetur turpis interdum. Duis placerat magna sed metus semper, non varius ante dignissim. Nulla eget tortor mauris. Nulla blandit purus id metus blandit commodo. Integer urna enim, tristique vel euismod eleifend, posuere vel eros. Curabitur tempor pulvinar orci, a efficitur nisl tristique eget. Pellentesque sed porttitor ipsum. Maecenas consectetur neque ligula, vel dapibus turpis cursus id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae nisl ut purus dignissim bibendum gravida a lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut massa massa, aliquet sit amet vehicula non, congue sit amet velit.</p>

</li>
                  </li><hr>
                
                  <li>
                    <li class="post-title-text"><a href="/2018/07/09/my-test-page-copy-2.html">My Test Page</a></li>
                    <li>09 Jul 2018</li>
                    <img src="/images/golden.jpg"/>
                    <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus tortor eu dolor sollicitudin, venenatis consectetur turpis interdum. Duis placerat magna sed metus semper, non varius ante dignissim. Nulla eget tortor mauris. Nulla blandit purus id metus blandit commodo. Integer urna enim, tristique vel euismod eleifend, posuere vel eros. Curabitur tempor pulvinar orci, a efficitur nisl tristique eget. Pellentesque sed porttitor ipsum. Maecenas consectetur neque ligula, vel dapibus turpis cursus id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae nisl ut purus dignissim bibendum gravida a lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut massa massa, aliquet sit amet vehicula non, congue sit amet velit.</p>

</li>
                  </li><hr>
                
            </ul>
        </div>


    </body>

</html>