<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.name }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <header class="nav-bar">
            <div class="wrapper-header-left">
                <h2><a href="helenemcasanova.github.io">{{ site.name }}</a></h2>
            </div>
            <div class="wrapper-header-right">
                <ul class="nav-bar-styles">
                    <li><a href="helenemcasanova.github.io">Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </header>
        <div class="about-the-blog">
                <p>{{ site.description }}</p>
        </div>
        <div class="posts post-area">
            <ul>
                {% for post in site.posts %}
                  <li>
                    <li class="post-title-text"><a href="{{ post.url }}">{{ post.title }}</a></li>
                    <li>{{ post.date | date_to_string }}</li>
                    <img src="{{ post.image | prepend: site.baseurl }}"/>
                    <li>{{ post.excerpt }}</li>
                  </li><hr>
                {% endfor %}
            </ul>
        </div>


    </body>

</html>